# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Rider
.idea/
*.sln.iml

# MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml

# Azure Functions
*.azurefunctions

# Files built by Visual Studio
*.ilk
*.pdb
*.log
*.vspscc
*.vssscc

# Package Files
*.nupkg